<html lang="en">

<head>

    <meta charset="UTF8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }} - Caffeinated Inventory</title>
    {% else %}
    <title>Welcome to Caffeinated Inventory</title>
    {% endif %}

    <!-- JS Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block scripts %}{% endblock %}

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caffeinated.css') }}">
    {% block styles %}{% endblock %}

</head>

<body>

    <!-- Navbar -->
    <div class="caff-navbar">
        {% if session.get('user_id') %}
        <ul>
            <li class="caff-nav-item">
                <a href="{{ url_for('index') }}" class="caff-nav-link">Home</a>
            </li>
            <li class="caff-nav-item">
                <a href="{{ url_for('brands.index') }}" class="caff-nav-link">Brands</a>
            </li>
            <li class="caff-nav-item">
                <a href="{{ url_for('categories.index') }}">Categories</a>
            </li>
        </ul>
        {% endif %}
    </div>
    
    <!-- Header -->
    <div class="header">
        {% block header %}{% endblock %}
        <hr>
    </div>

    <!-- Content -->
    <div class="caff-container">
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>