<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if title %}
    <title>{{ title }} - Caffeinated Inventory</title>
    {% else %}
    <title>Welcome to Caffeinated Inventory</title>
    {% endif %}

    <!-- JS Scripts -->
    <script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='js/active.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    {% block scripts %}{% endblock %}

    <!-- CSS Stylesheets -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/caffeinated.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    {% block styles %}{% endblock %}

</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a href="{{ url_for('index') }}" class="navbar-brand"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="navbar-nav me-auto">
                {% if session.get('user_id') %}
                <li class="nav-item" id="homeNav">
                    <a href="{{ url_for('index') }}" class="nav-link">Home</a>
                </li>
                <li class="nav-item dropdown" id="brandsNav">
                    <a class="nav-link dropdown-toggle" href="#" id="brandsDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Brands
                    </a>
                    <div class="dropdown-menu" aria-labelledby="brandsDropdown">
                        <a href="{{ url_for('brands.index', page=1) }}" class="dropdown-item">Index</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('brands.create') }}" class="dropdown-item">Create</a>
                    </div>
                </li>
                <li class="nav-item dropdown" id="categoriesNav">
                    <a class="nav-link dropdown-toggle" href="#" id="categoriesDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categories
                    </a>
                    <div class="dropdown-menu" aria-labelledby="categoriesDropdown">
                        <a href="{{ url_for('categories.index') }}" class="dropdown-item">Index</a>
                        <div class="dropdown-divider"></div>
                        <a href="{{ url_for('categories.create') }}" class="dropdown-item">Create</a>
                    </div>
                </li>
                {% endif %}
            </ul>
            <ul class="navbar-nav ms-auto">
                {% if session.get('user_id') %}
                <div class="nav-item">
                    <a href="#" class="nav-link">{{ session.get('user_username') }}</a>
                </div>
                <li class="nav-item">
                    <a href="{{ url_for('auth.logout') }}" class="nav-link">Logout</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a href="{{ url_for('auth.login') }}" class="nav-link">Login</a>
                </li>
                <div class="nav-item">
                    <a href="{{ url_for('auth.register') }}" class="nav-link">Register</a>
                </div>
                {% endif %}
            </ul>
        </div>
    </nav>

    <!-- Content -->
    <div class="container">
        <!-- Header -->
        <div class="header">
            {% block header %}{% endblock %}
            <hr>
        </div>
        {% block content %}
        {% endblock %}
    </div>

</body>

</html>