{% extends 'base.html' %}

{% block header %}
<h1>Create Brand</h1>
<h2 class="caff-text-muted">Use the form below to create a new brand entry!</h2>
<p>
    <a href="{{ url_for('brands.index', page=1) }}">Back to Index</a>
</p>
{% endblock %}

{% block content %}
{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{ error }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<form action="{{ url_for('brands.create') }}" method="POST" class="caff-form">

    <!-- Title -->
    <div class="row">
        <div class="col">
            <label for="title">Title: </label>
            <input type="text" class="caff-form-input" name="title" placeholder="Enter title" required>
        </div>
    </div>

    <!-- Summary -->
    <div class="row">
        <div class="col">
            <label for="summary">Summary: </label>
            <textarea name="summary" cols="30" rows="10" class="caff-form-input" placeholder="Enter a summary"></textarea>
        </div>
    </div>

    <!-- Submit -->
    <div class="row">
        <div class="col">
            <button class="caff-form-btn" type="submit">Create</button>
        </div>
    </div>

</form>
{% endblock %}