{% extends 'base.html' %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/brands/index.js') }}"></script>
{% endblock %}

{% block header %}
<h1>Manage Brands</h1>
<h2 class="caff-text-muted">View, create, and manage your brands.</h2>
{% endblock %}

{% block content %}
<div class="operations">
    <div class="row">
        <div class="col">
            <button class="btn btn-primary form-control" id="createBtn" type="button">Create Brand</button>
        </div>
        <div class="col">
            <button class="btn btn-success form-control" id="downloadCSV">Download CSV (*.csv)</button>
        </div>
        <div class="col">
            <button class="btn btn-warning form-control" id="downloadExcel">Download XLSX (*.xlsx)</button>
        </div>
        <div class="col">
            <button class="btn btn-danger form-control" id="downloadJSON">Download JSON (*.xlsx)</button>
        </div>
    </div>
</div>
<br>
<h3>Brands Table View</h3>
<table class="table table-responsive table-striped table-hover" id="brandsTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Summary</th>
            <th>Created By Id</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Options</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>
<div class="paginate">
    {% if num_pages %}
    {% for np in range(num_pages) %}
    <button class="btn btn-primary-outline pag-btn" type="button">{{ np + 1 }}</button>
    {% endfor %}
    {% endif %}
</div>
{% endblock %}